{% assign blocksize = 0 %}
{% if block.settings.index1use and block.settings.index2use and block.settings.index3use %}
  {% assign blocksize = 3 %}
{% elsif block.settings.index1use and block.settings.index2use %}
  {% assign blocksize = 2 %}
{% elsif block.settings.index2use and block.settings.index3use %}
  {% assign blocksize = 2 %}
{% elsif block.settings.index1use and block.settings.index3use %}
  {% assign blocksize = 2 %}
{% elsif block.settings.index1use or block.settings.index2use or block.settings.index3use %}
  {% assign blocksize = 1 %}
{% endif %}
<style>
    /*Index 1 styling starts here*/
      .promo-block-mosaic--index-1 {
        {% if block.settings.index1_color != blank %}
          color: {{ block.settings.index1_color }};
        {% endif %}
  
        {% unless block.settings.index1_image %}
          {%- capture bg_image -%}
  
            {%-
              include 'placeholder_svg_uri'
              placeholder: 'image'
             -%}
          {%- endcapture -%}
          background-image: url('{{ bg_image | strip_newlines }}');
        {% endunless %}
      }
  
      {% if block.settings.index1_overlay_style != 'none'
        and block.settings.index1_background != blank
        and block.settings.index1_background != 'rgba(0,0,0,0)'
      %}
        {% assign opacity = block.settings.index1_opacity | times: 0.01 %}
  
        {% if block.settings.text_alignment contains 'top' %}
          {% assign text_position = 'top' %}
        {% elsif block.settings.text_alignment contains 'bottom' %}
          {% assign text_position = 'bottom' %}
        {% else %}
          {% assign text_position = block.settings.text_alignment | remove: 'center-' %}
        {% endif %}
  
        .promo-block-mosaic--index-1 .promo-block-mosaic--content {
          {% if block.settings.index1_overlay_style == 'solid' %}
            background-color: {{ block.settings.index1_background | color_modify: 'alpha', opacity }};
          {% else %}
            background: {%
              include 'gradient',
              color: block.settings.index1_background,
              opacity: opacity,
              text_position: text_position,
            %};
          {% endif %}
        }
      {% endif %}
    /*Index 1 styling ends here*/

    /*Index 2 styling starts here*/
    .promo-block-mosaic--index-2 {
        {% if block.settings.index2_color != blank %}
          color: {{ block.settings.index2_color }};
        {% endif %}
  
        {% unless block.settings.index2_image %}
          {%- capture bg_image -%}
  
            {%-
              include 'placeholder_svg_uri'
              placeholder: 'image'
             -%}
          {%- endcapture -%}
          background-image: url('{{ bg_image | strip_newlines }}');
        {% endunless %}
      }
  
      {% if block.settings.index2_overlay_style != 'none'
        and block.settings.index2_background != blank
        and block.settings.index2_background != 'rgba(0,0,0,0)'
      %}
        {% assign opacity = block.settings.index2_opacity | times: 0.01 %}
  
        {% if block.settings.text_alignment contains 'top' %}
          {% assign text_position = 'top' %}
        {% elsif block.settings.text_alignment contains 'bottom' %}
          {% assign text_position = 'bottom' %}
        {% else %}
          {% assign text_position = block.settings.text_alignment | remove: 'center-' %}
        {% endif %}
  
        .promo-block-mosaic--index-1 .promo-block-mosaic--content {
          {% if block.settings.index2_overlay_style == 'solid' %}
            background-color: {{ block.settings.index2_background | color_modify: 'alpha', opacity }};
          {% else %}
            background: {%
              include 'gradient',
              color: block.settings.index2_background,
              opacity: opacity,
              text_position: text_position,
            %};
          {% endif %}
        }
      {% endif %}
    /*Index 2 styling ends here*/

    /*Index 3 styling starts here*/
    .promo-block-mosaic--index-3 {
        {% if block.settings.index3_color != blank %}
          color: {{ block.settings.index3_color }};
        {% endif %}
  
        {% unless block.settings.index3_image %}
          {%- capture bg_image -%}
  
            {%-
              include 'placeholder_svg_uri'
              placeholder: 'image'
             -%}
          {%- endcapture -%}
          background-image: url('{{ bg_image | strip_newlines }}');
        {% endunless %}
      }
  
      {% if block.settings.index3_overlay_style != 'none'
        and block.settings.index3_background != blank
        and block.settings.index3_background != 'rgba(0,0,0,0)'
      %}
        {% assign opacity = block.settings.index3_opacity | times: 0.01 %}
  
        {% if block.settings.text_alignment contains 'top' %}
          {% assign text_position = 'top' %}
        {% elsif block.settings.text_alignment contains 'bottom' %}
          {% assign text_position = 'bottom' %}
        {% else %}
          {% assign text_position = block.settings.text_alignment | remove: 'center-' %}
        {% endif %}
  
        .promo-block-mosaic--index-1 .promo-block-mosaic--content {
          {% if block.settings.index3_overlay_style == 'solid' %}
            background-color: {{ block.settings.index3_background | color_modify: 'alpha', opacity }};
          {% else %}
            background: {%
              include 'gradient',
              color: block.settings.index3_background,
              opacity: opacity,
              text_position: text_position,
            %};
          {% endif %}
        }
      {% endif %}
    /*Index 3 styling ends here*/
  </style>

<script
  type="application/json"
  data-section-id="{{ block.id }}"
  data-section-type="dynamic-promo-mosaic"
  data-section-data
>
  {
    "compress_blocks": {{ block.settings.compress_blocks | json }},
    "block_selector": "promo-block-mosaic",
    "content_selector": "data-promo-block-mosaic-content"
  }
</script>

<section class="promo-mosaic--container custompage-section" style="background-color: {{ block.settings.background_color }};">
  {% if block.settings.title != blank or block.settings.subheading != blank %}
    <div class="home-section--title-container" >
    {% if block.settings.title != blank %}
      <h2 class="home-section--title" style="color: {{ block.settings.heading_color }};">
        {{ block.settings.title | escape }}
      </h2>
    {% endif %}
    {% if block.settings.subheading != blank %}
      <div class="home-section--subheading" style="color: {{ block.settings.subheading_color }};">
        {{ block.settings.subheading }}
      </div>
    {% endif %}
    </div>
  {% endif %}


  <div class="home-section--content promo-mosaic--height-{{ block.settings.section_height }}">
    <div class="promo-mosaic--inner promo-mosaic--layout-{{blocksize}}
        {% if block.settings.compress_blocks %}promo-mosaic--compressed{% endif %}
        {% if block.settings.maintain_aspect_ratio %}
          promo-mosaic--maintain-aspect-ratio
        {% endif %}
      ">
      <!--Mosaic blocks go here-->
      
      {% if block.settings.index1use %}
          <article class="promo-block-mosaic promo-block-mosaic--index-1">
            {% if block.settings.index1_block_link %}<a class="promo-block-mosaic--content  promo-block-mosaic--content-align-{{block.settings.text_alignment}}  promo-mosaic--maintain-aspect-ratio  promo-block-mosaic--expanded  " href="{{block.settings.index1_block_link}}">{% endif %}
              <div class="promo-block-mosaic--content{% if block.settings.index1_block_link %}-wrapper{% endif %}{% unless block.settings.index1_block_link %} promo-block-mosaic--content-align-{{block.settings.text_alignment}} promo-mosaic--maintain-aspect-ratio  promo-block-mosaic--expanded  promo-block-mosaic--unlinked{% endunless %}">
                <h2 class="promo-block-mosaic--header">{{block.settings.index1_title}}</h2>
                <p class="promo-block-mosaic--text">{{block.settings.index1_text}}</p>
                {% if block.settings.index1_button_text.size>0 %}
                  <span class="{% if block.settings.index1_button_style == "primary" or block.settings.index1_button_style == "primary_icon"  %}button-primary {% endif %}
                  {% if block.settings.index1_button_style == "secondary" or block.settings.index1_button_style == "secondary_icon" %}button-secondary {% endif %}promo-block-mosaic--button {% if block.settings.index1_button_style == "primary_icon" or block.settings.index1_button_style == "secondary_icon"  %} has-icon {% endif %}">
                  <span class="button-text">{{block.settings.index1_button_text}}</span>
                  {% if block.settings.index1_button_style == "primary_icon" or block.settings.index1_button_style == "secondary_icon"  %}
                    <span class="button-icon">
                    <svg class="icon-chevron-signpost " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">          <title>Chevron down icon</title>        <path d="M4 5.75L7 8.75L10 5.75" stroke="currentColor" stroke-width="1.25"></path>      <circle cx="7" cy="7" r="6.375" stroke="currentColor" stroke-width="1.25"></circle>    </svg>
                    </span>
                  {% endif %}
                  </span>
                {% endif %}
              </div>
            </a>
          </article>
      {% endif %}

      
      {% if block.settings.index2use %}
          <article class="promo-block-mosaic promo-block-mosaic--index-2">
            {% if block.settings.index2_block_link %}<a class="promo-block-mosaic--content  promo-block-mosaic--content-align-{{block.settings.text_alignment}}  promo-mosaic--maintain-aspect-ratio  promo-block-mosaic--expanded  " href="{{block.settings.index2_block_link}}">{% endif %}
              <div class="promo-block-mosaic--content{% if block.settings.index2_block_link %}-wrapper{% endif %}{% unless block.settings.index2_block_link %} promo-block-mosaic--content-align-{{block.settings.text_alignment}} promo-mosaic--maintain-aspect-ratio  promo-block-mosaic--expanded  promo-block-mosaic--unlinked{% endunless %}">
                <h2 class="promo-block-mosaic--header">{{block.settings.index2_title}}</h2>
                <p class="promo-block-mosaic--text">{{block.settings.index2_text}}</p>
                {% if block.settings.index2_button_text.size>0 %}
                  <span class="{% if block.settings.index2_button_style == "primary" or block.settings.index2_button_style == "primary_icon"  %}button-primary {% endif %}
                  {% if block.settings.index2_button_style == "secondary" or block.settings.index2_button_style == "secondary_icon" %}button-secondary {% endif %}promo-block-mosaic--button {% if block.settings.index2_button_style == "primary_icon" or block.settings.index2_button_style == "secondary_icon"  %} has-icon {% endif %}">
                  <span class="button-text">{{block.settings.index2_button_text}}</span>
                  {% if block.settings.index2_button_style == "primary_icon" or block.settings.index2_button_style == "secondary_icon"  %}
                    <span class="button-icon">
                    <svg class="icon-chevron-signpost " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">          <title>Chevron down icon</title>        <path d="M4 5.75L7 8.75L10 5.75" stroke="currentColor" stroke-width="1.25"></path>      <circle cx="7" cy="7" r="6.375" stroke="currentColor" stroke-width="1.25"></circle>    </svg>
                    </span>
                  {% endif %}
                  </span>
                {% endif %}
              </div>
            </a>
          </article>
      {% endif %}


      {% if block.settings.index3use %}
          <article class="promo-block-mosaic promo-block-mosaic--index-3">
            {% if block.settings.index3_block_link %}<a class="promo-block-mosaic--content  promo-block-mosaic--content-align-{{block.settings.text_alignment}}  promo-mosaic--maintain-aspect-ratio  promo-block-mosaic--expanded  " href="{{block.settings.index3_block_link}}">{% endif %}
              <div class="promo-block-mosaic--content{% if block.settings.index3_block_link %}-wrapper{% endif %}{% unless block.settings.index3_block_link %} promo-block-mosaic--content-align-{{block.settings.text_alignment}} promo-mosaic--maintain-aspect-ratio  promo-block-mosaic--expanded  promo-block-mosaic--unlinked{% endunless %}">
                <h2 class="promo-block-mosaic--header">{{block.settings.index3_title}}</h2>
                <p class="promo-block-mosaic--text">{{block.settings.index3_text}}</p>
                {% if block.settings.index3_button_text.size>0 %}
                  <span class="{% if block.settings.index3_button_style == "primary" or block.settings.index3_button_style == "primary_icon"  %}button-primary {% endif %}
                  {% if block.settings.index3_button_style == "secondary" or block.settings.index3_button_style == "secondary_icon" %}button-secondary {% endif %}promo-block-mosaic--button {% if block.settings.index3_button_style == "primary_icon" or block.settings.index3_button_style == "secondary_icon"  %} has-icon {% endif %}">
                  <span class="button-text">{{block.settings.index3_button_text}}</span>
                  {% if block.settings.index3_button_style == "primary_icon" or block.settings.index3_button_style == "secondary_icon"  %}
                    <span class="button-icon">
                    <svg class="icon-chevron-signpost " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">          <title>Chevron down icon</title>        <path d="M4 5.75L7 8.75L10 5.75" stroke="currentColor" stroke-width="1.25"></path>      <circle cx="7" cy="7" r="6.375" stroke="currentColor" stroke-width="1.25"></circle>    </svg>
                    </span>
                  {% endif %}
                  </span>
                {% endif %}
              </div>
            </a>
          </article>
      {% endif %}
      <!--Mosaic blocks end here-->

    </div>
  </div>
</section>